.experience {
    background-color: var(--main-color);
    height: 122vh;
    color: #fff;
}
.expBox {
    position: relative;
    margin:30px auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 50%;
    transition: .4s all ease-in-out;
    cursor: pointer;
}
.expBox:hover {
    box-shadow: var(--primary-color) 0px 1px 4px, var(--primary-color) 0px 0px 0px 3px;
    transform: scale(1.1);
}

.expInfo {
    display: flex;
    gap: 5px;
}

.expInfo h2 {
    font-size: 22px
}
.expInfo p ,
.expBox span{
   
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 0;
}
.expBox p {
    font-weight: 500;
    font-size: 16px;
  
}
.expBox span {
    font-size: 14px;
}

.expPara {
    padding-left: 57px;
    color: rgba(242, 243, 244, 0.6);
}

@media (max-width:991px) {
    .expBox {
        width: 80%;
    }
}
@media (max-width:450px) {
    .experience {
        height: 160vh;
    }
    .expBox {
        width: 100%;
    }
    .expBox:hover {
        transform: scale(1);
    }

}