@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');
:root {
  --main-color: #001524;
  --primary-color: #FFB000;
  --btn-color: #102a3d;
  --light-blue: #394b5770;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.c-yellow {
  color: var(--primary-color);
}
button {
  border-color: #FFB000 !important;
  border-width: 2px !important;
}
button:not(:disabled) {
  color: #FFB000 !important;
}
.btn {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  transition: .6s all;
}
.btn:hover {
  color: #fff !important;
  background-color: var(--primary-color);
}
.num {
  color: var(--primary-color);
  background-color: var(--light-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .4s all ease-in-out;
}
.num.active {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.1);
}
.next {
  color: var(--primary-color);
  background-color: var(--light-blue);
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  
}
::-webkit-scrollbar-track {
  background-color: var(--btn-color);
  height: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
}